#home{
    background-color: white;
    color: black;
}
.head{
    height: 100px;
    background: linear-gradient( 0deg,gray,black);

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div{

    display: inline-block;
}

button{
    height: 50px;
    width: 100px;
    color: white;
    margin: 0 90px 0 90px;
    background-color: transparent;
    border: 0px;

}

#h1{
    background-color: white;
    color: black;
}
.imag{
    width: 370px;
    height: 370px;
    margin: 60px;
}
img{
   height: 700px;
   width: 100%;
}
.foot{
    display: inline-block;
}